@tailwind components;

@layer components {
    .navbar {
        @apply px-5 flex-1 flex relative h-full
              items-center justify-center text-[15px] leading-none
              transition-all overflow-hidden
    }

    .navbar .indicator {
        @apply bottom-0 w-[100%] h-[2px];
    }

    .navbar-active .indicator {
        @apply bg-blue-600 h-[2px];
    }

    .navbar-loading .indicator {
        @apply w-[50%] bg-orange-600 h-[2px];
        animation: 1s linear 0s infinite loading;
    }
}

@keyframes loading {
    from {
        left: -100%
    }
    to {
        left: 100%;
    }
}